modules = ["python-3.11", "nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8501
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[agent]
integrations = ["github:1.0.0"]

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 49759428

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[userenv]

[userenv.shared]
UV_NO_SYNC = "1"
PYTHON_DISABLED = "1"
